[Unit]
Description=Vine Watcher Telegram
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
WorkingDirectory=/opt/vine-watcher-telegram
ExecStart=/usr/bin/npm run start
Restart=on-failure
RestartSec=20
User=vinewatcher
Environment=NODE_ENV=production
Environment=HOME=/var/lib/vinewatcher

[Install]
WantedBy=multi-user.target
